@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Zen+Maru+Gothic:wght@700&display=swap');

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: #00525f;
  background-color: #f0fffa;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 1em;
}

main{
  margin-top: 50px;
  margin-top: 20vh;

}

#rogo{
  width: 100px;
  position: fixed;
  top:10px;
  left: 10px;
  z-index: 1;
}

.sumaho{
  text-align: center;
}

.qr img{
  text-align: center;
  align-items: center;
  margin: auto;
}