.recved_request{
    border-bottom: 2px dashed #5da38ccc;
    padding: 10px;
}

.accept_request_btn {
    border-bottom: 2px solid #5da38ccc;
    margin-right: 20px;
}

.reject_request_btn{
    border-bottom: 2px solid #5da38ccc;
    margin-left: 20px;
}