.ignore_map_area{
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;
    visibility: hidden;

    z-index: 10000;
}

.ignore_map_controll {
    
}
.ignore_container {
    width: 100vw;
    height: 100vh;
}

.ignore_map {
    width: 100%;
    height: 100%;
}