/* ポップアップ */
.popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
}
.popup_inner {
    position: fixed;
    left: 13vw;
    top: 15vh;
}

.popup.is-show {
    opacity: 1;
    visibility: visible;
}

.popover{
    width: 70vw;
    height: 65vh;
    background-color: #e9fef7ef;
    border: 2px solid #5da38ccc;
    border-radius: 10px;
    text-align: center;
}

